@page "/adults"
@using Models
@using Microsoft.AspNetCore.Http.Features
@using System.Runtime.CompilerServices
@using Microsoft.AspNetCore.Mvc.Filters
@using System.ComponentModel
@inject InterfaceAdultsData AdultsData;
@inject NavigationManager NavigationManager;

<div class="adultspage">
    <button class="button-x" @onclick="(() => openthisfuckingpage()">Jaaaaaa</button>
    <div class="svgimg">
        <img src="Images/adultpage-svg.svg" alt="Adults">
        <div class="btn-x">
            @if (adult != null)
            {
                <button class="button-x" @onclick="(() => { adult = null; })">x</button>
            }
        </div>
        <div class="popup-box">
            @if (adult == null)
            {
            }
            else
            {
                <p>Name: @adult.FirstName</p>
                <p>Sex: @adult.Sex</p>
                <p>Height: @adult.Height</p>
                <p>Weight: @adult.Weight</p>
                <p>Eye color: @adult.EyeColor</p>
                <p>Hair color: @adult.HairColor</p>
            }
        </div>
    </div>
    <div class="adult-table">
        <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Job Title</th>
            <th>Salary</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody>
      
        @foreach (var item in adults){
        
            <tr>
                <td>@item.Id</td>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.Age</td>
                <td>@item.JobTitle.JobTitle</td>
                <AuthorizeView Policy="MustBeAdministrator">
                    <td>@item.JobTitle.Salary</td>
                </AuthorizeView>
                <td>
                    <button class="button-adult" @onclick="(() => setValues(item.Id))">Show details</button>
                </td>
            </tr>
            
        }
        </tbody>
    </div>


</div>


@code {

    private IList<Adult> adults;
    private Adult adult;
    public bool ShowComponent = true;

    [Parameter]
    public int id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        adults = AdultsData.GetAllAdults();
    }

    public void setValues(int idd)
    {
        adult = adults.First(a => a.Id == idd);
    }

    private void openthisfuckingpage()
    {
        NavigationManager.NavigateTo("/addadult");
    }

}